.description {
  padding: 100px 0 100px 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;

}

.two-columns__brief {
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  line-height: 1.2;
  color: #2F80ED;
  margin: 0;

}
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;


}

.two-columns__paragraph span {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph:nth-child(2) {
  padding: 30px 0 30px 0;
}