.digits {
  padding: 100px 0 100px 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.digits .section-title {
  margin-bottom: 20px;
  text-align: center;
}


.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits .section-subtitle {
  margin-bottom: 60px;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1100px;
  gap:60px;

}
.table__cell {
  width: 220px;

}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

.table__text span {
  margin-top: 20px;
  display: block;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}