.footer {
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  


}

.footer__columns {
 display: flex;
 justify-content: space-between;
 width: 90%;
height: 200px;
 margin: 0 auto;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  padding-left: 0;
  list-style: none;
  margin: 0;

}

.footer__column-list {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;


}
.footer__column-link {
  color: white;
  text-decoration: none;

}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}


.logo_place_footer {

  height: 35px;

}